<!--Configure el namespace desde el web.config de ls Views-->
@model Usuario

@{
    ViewBag.Title = "Acerca de mí";
    //OBTENGO LA LISTA DE PAISES
    //List<TablaDato> paises = ViewBag.Paises;
    var paises = ViewBag.Paises;
}

<div id="yo" class="page">

    <h1 class="page-header">Acerca de mí</h1>

    <!--Creo el formulario para dar de alta un nuevo usuario-->
    @using (Html.BeginForm("guardar", "usuario", FormMethod.Post))
    {
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Información</a></li>
                <li role="presentation"><a href="#ubicacion" aria-controls="ubicacion" role="tab" data-toggle="tab">Ubicación</a></li>
                <li role="presentation"><a href="#social" aria-controls="social" role="tab" data-toggle="tab">Social</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="info">
                    <div class="form-group">
                        @Html.HiddenFor(x => x.id) <!--Para pasar el Id del usuario-->
                        <!--SIN HTMLHELPERS-->
                        @*<label>Nombre</label>
                        <input type="text" name="Nombre" class="form-control" placeholder="Ingrese su nombre" />*@
                        <!--CON HTMLHELPERS-->
                        @Html.LabelFor(x => x.Nombre)
                        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", placeholder = "Ingrese su nombre" })
                        @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Apellido)
                        @Html.TextBoxFor(x => x.Apellido, new { @class = "form-control", placeholder = "Ingrese su apellido" })
                        @Html.ValidationMessageFor(x => x.Apellido, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email)
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Ingrese su correo" })
                        @Html.ValidationMessageFor(x => x.Email, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Telefono)
                        @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control", placeholder = "Ingrese su telefono" })
                        @Html.ValidationMessageFor(x => x.Telefono, null, new { @class = "label label-danger" })
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(x => x.Password)
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Ingrese la contraseña" })
                        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "label label-danger" })
                    </div>*@
                    <div class="form-group">
                        <label>Foto de perfil</label>
                        <input type="file" name="foto" />
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="ubicacion">
                    <div class="form-group">
                        <label>País</label>
                        <select name="Pais_id" class="form-control">
                            @*<option value="">Seleccione un país</option>*@
                            @*Lleno el Combobox de paises*@
                            @foreach (var p in paises)
                            {
                                <option @(Model.Pais_id == Convert.ToInt32(p.Valor) ? "selected" : "") value="@p.Valor">@p.Descripcion</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Ciudad)
                        @Html.TextBoxFor(x => x.Ciudad, new { @class = "form-control", placeholder = "Ingrese su ciudad" })
                        @Html.ValidationMessageFor(x => x.Ciudad, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Direccion)
                        @Html.TextAreaFor(x => x.Direccion, new { @class = "form-control", placeholder = "Ingrese su dirección" })
                        @Html.ValidationMessageFor(x => x.Direccion, null, new { @class = "label label-danger" })
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="social">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Facebook)
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-facebook"></i>
                            </span>
                            @Html.TextBoxFor(x => x.Facebook, new { @class = "form-control", placeholder = "Ingrese su Facebook" })
                        </div>
                        @Html.ValidationMessageFor(x => x.Facebook, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Twitter)
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-twitter"></i>
                            </span>
                            @Html.TextBoxFor(x => x.Twitter, new { @class = "form-control", placeholder = "Ingrese su Twitter" })
                        </div>
                        @Html.ValidationMessageFor(x => x.Twitter, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.YouTube)
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-youtube"></i>
                            </span>
                            @Html.TextBoxFor(x => x.YouTube, new { @class = "form-control", placeholder = "Ingrese su YouTube" })
                        </div>
                        @Html.ValidationMessageFor(x => x.YouTube, null, new { @class = "label label-danger" })
                    </div>
                </div>
            </div>

        </div>

        <div class="text-right well well-sm">
            <!--Convierto el formulario en AJAX (data-ajax="true")-->
            <button data-ajax="true" class="btn btn-primary">Guardar</button>
        </div>
    }
</div>
